<div class="small-box bg-{{color}}">
    <div class="inner">
        <h3>{{number}}</h3>
        <p>{{text}}</p>
    </div>
    <div class="icon">
        <i class="fa fa-{{icon}}"></i>
    </div>
    {{#if morelink}}
        <a href="{{morelink}}" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    {{/if}}
</div>