<div class="row">
  {{dashboard-info-box text="Current Users" icon='clock-o' number=model.active_users.count}}
  <!--
  {{dashboard-info-ox text="Total Users" icon='users' number=model.all_users.global_statistic.confirmed_users}}
  {{dashboard-info-box text="Enrollments" icon='university' number=123456}}
  {{dashboard-info-box text="New Forum entries" moreText='Show' icon='weixin' number=20 link="pinboard"}}
  -->
  <div class="col-md-12">
    {{globe-activity}}
  </div>
 
</div>
